<div>
      <div class="pageContent">
		  <div class="container-fluid">
		     <div class="row" [ngStyle]="{'height': height}">	 
				 <div class="col-md-8 logHeight">
					 <div class="row">
					     <div class="col offset-sm-1">		
				    <div class="loginLogo">
						<img alt="Website Logo" src="../../../assets/images/logo_website.webp">
					</div>
				 </div>
					 </div>
				 
					 <div class="row">
						 <div class="col">
							  <div class="login-title">
						   <h5>{{'activate' | translate}}</h5>
						</div>
							 
						 </div>
					  
					 </div>
					 
					<form class="register-form" method="post" action="checkLogin" id="form1">
	
						<div class="card activeCard text-center">
							<div class="card-body">
								<h4 class="text-center title">{{'check_your_email' | translate}}</h4>
								<div>
								  <img src="../../../assets/images/email3.png">
								</div>
								<form class="register-form" method="post" action="activate" id="form1">
									<button class="btn btn-light email-btn" type="submit" form="form1">
										{{'send_email' | translate}}
									</button>
								</form>
							</div>
						  </div>
						  
					</form>
				 
				 </div>	
				 
				 
				 
				 
				 <div class="col-md-4 side">
				   <div class="loginSlider">
					   <div class="container">
						  <div class="absHeading">
							<h2>{{'registration' | translate}}</h2>
							<h2>{{'advnatages' | translate}}</h2>
						  </div>
					    <div id="carouselExampleSlidesOnly" class="carousel slide shifting" data-ride="carousel">
				  <div class="carousel-inner">
					<div class="carousel-item active">
					  <h1 class="count">01</h1>
					  <p class="details">
                     - ابجد هوز ابجد هوز ابجد هوز
                     ابجد هوز ابجد هوز ابجد هوز
					</p>
					</div>
					</div>
				  </div>
						<div class="termLink">
						   <i class="fas fa-align-left"></i>
						   <a href="/terms">{{'terms' | translate}}</a>
						</div>
				</div>
	   
				   </div>
				 
				 </div>
				 
			 </div>
		  </div>
	  </div>
</div>
<notifier-container style="font-family: cocon;"></notifier-container>
