.side{
    background: linear-gradient(60deg, #7e49b5 0%, #c7338d 100%);
    color: white;
}

.login-title{
    margin-top: 4em;
    h5{
        color: #64828c;
        font-family: vip-bold;
    }
}

.loginLogo{
    img{
        width: 100px;
        float: left;
        margin-top: 2em;
    }
}

.count{
    font-size: 7em;
    opacity: 0.3;
    font-family: vip-bold;
}

.shifting{
    margin-top: -13em;
}

.details{
    font-family: cocon;
    direction: rtl;
    margin-top: 7em;
}

.pageContent{
    text-align: right;
}

.absHeading{
    margin-top: 10em;
    h2{
        font-family: vip-bold;
        font-size: 3em;
    }
}

.termLink{
    position: absolute;
    bottom: 10%;
    left: 25%;
    a{
        opacity: 0.5;
        color: white;
        text-decoration: underline;
        font-family: cocon;
    }
}

.or{
    width: 50%;
    margin: auto;
    margin-top: 1em;
    font-family: vip-bold;
    color: #d9d9d9;
    font-size: 0.8em;
    padding: 1em;
    span{
        text-align: center;
        display: block;
    }
}

#email{
    width: 50%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#password{
    // width: 50%;
    // margin: auto;
    // margin-left: 14em;
}

#email::-webkit-input-placeholder , #password::-webkit-input-placeholder { 
    font-family: cocon;
    opacity: 0.5;
    text-align: right;
}
  
#email:-ms-input-placeholder ,  #password::-ms-input-placeholder {
    font-family: cocon;
    opacity: 0.5;
    text-align: right;
}
  
#email::placeholder ,  #password::placeholder {
    font-family: cocon;
    opacity: 0.5;
    text-align: right;
}

.email-btn{
    background: white;
    border-radius: 25px;
    font-family: cocon;
    color: #000;
    margin: 1em;
}

.forget-div{
    width: 50%;
    display: block;
    text-align: center;
    margin: auto;
    p{
        text-align: left;
        text-decoration: underline;
        font-family: vip-bold;
        color: #64828c;
        font-size: 0.7em;
    }
}

.second-row{
    width: 50%;
    margin: auto;
    text-align: center;
    .first-col{
        padding: 0px;
    }
}

.activeCard{
    background: linear-gradient(60deg, #7e49b5 0%, #c7338d 100%);
    color: white;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    .title{
        font-family: cocon;
        margin: 1em;
        color: white;
    }
}

.logHeight{
    background-color: white !important;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #fff !important;
}