<div class="blogs">
  <div class="container">
   <p *ngIf="translate.currentLang == 'en'">Popular <span>Blogs</span></p>
   <p *ngIf="translate.currentLang == 'ar'" style="text-align: right;font-family: cairo-bold;"> مقالات <span style="font-family: cairo-regular;">مشهورة</span></p>
   <hr>
   <div class="row" *ngIf="blogs.length > 0">
     <div class="col">
       <div class="card" [ngStyle]="{'background-image': 'url(' + blogs[0].image + ')'}">
         <h5>{{blogs[0].title}}</h5>
         <div class="butnDiv">
          <button type="button" class="btn btn-light" [routerLink]="['/blog/']" [queryParams]="{ blogId: blogs[0].blog_id }" [ngStyle]="{'font-family': translate.currentLang == 'ar' ? 'cairo-regular' : ''}">{{'view' | translate}}</button>
         </div>
        
       </div>
     </div>
   </div>
   <div class="row" *ngIf="blogs.length == 3">
    <div class="col col-md-6">
      <div class="card2" [ngStyle]="{'background-image': 'url(' + blogs[1].image + ')'}">
        <h5>{{blogs[1].title}}</h5>
        <button type="button" class="btn btn-light" [routerLink]="['/blog/']" [queryParams]="{ blogId: blogs[1].blog_id }" [ngStyle]="{'font-family': translate.currentLang == 'ar' ? 'cairo-regular' : ''}">{{'view' | translate}}</button>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card2" [ngStyle]="{'background-image': 'url(' + blogs[2].image + ')'}">
        <h5>{{blogs[2].title}}</h5>
        <button type="button" class="btn btn-light" [routerLink]="['/blog/']" [queryParams]="{ blogId: blogs[2].blog_id }" [ngStyle]="{'font-family': translate.currentLang == 'ar' ? 'cairo-regular' : ''}">{{'view' | translate}}</button>
      </div>
    </div>
  </div>
  <a [routerLink]="[ '/blogs' ]"><span class="seeAll" [ngStyle]="{'font-family': translate.currentLang == 'ar' ? 'cairo-regular' : ''}">{{'see_all' | translate}}</span></a>
  
</div>
</div>