<div class="aside">
  <div class="aboutMe">
    <p class="asideHeader">About <span>Me</span></p>
    <hr>
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
    <p>
      <i class="fas fa-home"></i>
      <span>3 places</span>
    </p>
    <p>
      <i class="fas fa-map-marker-alt"></i>
      <span>France, Paris</span>
    </p>
  </div>
  <div class="myEvents">
    <p class="asideHeader">My <span>Events</span></p>
    <hr>
    <div class="sliderEvents">
      <!-- card -->
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/event1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">National Semienar</h5>
          <span>16 December 2020</span>
          <div class="btnOfEvents">
          <button type="button" class="btn btn-primary">32 Members</button>
          <img src="../../../assets/images/image1.jpg" class="member">
          <img src="../../../assets/images/image1.jpg" class="member">
          <img src="../../../assets/images/image1.jpg" class="member">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>