<div class="aside">
  <div class="aboutMe">
    <p class="asideHeader" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left'}">{{'about' | translate}} 
      <span *ngIf="EntryData && EntryData.type == 'profile'">{{'me' | translate}}</span>
      <span *ngIf="EntryData && EntryData.type == 'event'">{{'event' | translate}}</span>
      <span *ngIf="EntryData && EntryData.type == 'group'">{{'group' | translate}}</span>
    </p>
    <hr>
    <p *ngIf="EntryData" class="about">{{EntryData.about}}</p>
    <p *ngIf="EntryData && EntryData.type == 'profile'" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left' , 'direction': translate.currentLang == 'ar' ? 'rtl' : 'ltr'}">
      <i class="fas fa-home"></i>
      <span>3 {{'places' | translate}}</span>
    </p>
    <p *ngIf="EntryData && EntryData.happen_at" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left' , 'direction': translate.currentLang == 'ar' ? 'rtl' : 'ltr'}">
      <i class="fas fa-calendar"></i>
      <span>{{misc.getDate(EntryData.happen_at)}}</span>
    </p>
    <p *ngIf="EntryData && EntryData.location" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left' , 'direction': translate.currentLang == 'ar' ? 'rtl' : 'ltr'}">
      <i class="fas fa-map-marker-alt"></i>
      <span>{{EntryData.location}}</span>
    </p>
    <p *ngIf="EntryData && EntryData.members" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left' , 'direction': translate.currentLang == 'ar' ? 'rtl' : 'ltr'}">
      <i class="fas fa-users"></i>
      <span>{{EntryData.members}} {{'joined' | translate}}</span>
    </p>
  </div>
  <div class="myEvents">
    <p class="asideHeader">{{'my' | translate}} <span>{{'events' | translate}}</span></p>
    <hr>
    <div class="sliderEvents">
      <!-- card -->
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/event1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">National Semienar</h5>
          <span>16 December 2020</span>
          <div class="btnOfEvents">
          <button type="button" class="btn btn-primary">32 {{'members' | translate}}</button>
          <img src="../../../assets/images/image1.jpg" class="member">
          <img src="../../../assets/images/image1.jpg" class="member">
          <img src="../../../assets/images/image1.jpg" class="member">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>