<div class="sidebar">
    <perfect-scrollbar style="height: auto;width: auto;">
        <div class="navigation">
            <ul>
                <li *ngFor="let item of routes" [ngClass]="{'active': router.url == item.path}">
                    <a routerLinkActive="on"  [routerLink]="[ item.path ]">
                        <i class="material-icons">{{item.icon}}</i>
                        <p>{{item.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </perfect-scrollbar>
    
    <div class="other">
        <a routerLinkActive="on"  [routerLink]="[ '/packages' ]">
            <div class="row">
                    <img src="../../../assets/images/package.png"/>
                    <div>
                        <p class="title">Update Package</p>
                        <p class="subtitle">Get more updates</p>
                    </div>
                
            </div>
        </a>
    </div>
    
    
    <div class="other">
        <a routerLinkActive="on"  [routerLink]="[ '/profile' , userId ]">
            <div class="row">
                <img src="{{userImage}}" onError="this.onerror=null;this.src='./assets/images/marc.jpg';"/>
                <div>
                    <p class="title">{{userName}}</p>
                    <p class="subtitle">@{{userId}}</p>
                </div>
            </div>
        </a>
    </div>
    
    
    <div class="other support">
        <ul>
            <li>
                <a routerLinkActive="on"  [routerLink]="[ '/faq' ]" [ngClass]="{'active': router.url == '/faq'}">
                    <i class="material-icons active">help</i>
                    <p>Help & Support</p>
                </a>
            </li>
            <hr style="margin: 0px;
            width: 12em;">
            <li>
                <a routerLinkActive="on"  [routerLink]="[ '/settings' ]" [ngClass]="{'active': router.url == '/settings'}" >
                    <i class="material-icons">settings</i>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</div>