.navigation{
    height: 10em;
    width: 12em;
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    overflow-y: scroll;
    ul{
        list-style: none;
        padding-left: 1em;
    }
    li{
        margin-bottom: 1em;
        padding-top: 1em;
    }
    i{
        margin-right: 1em;
        vertical-align: middle;
        color: rgb(209,209,211);
    }
    p{
        display: inline;
        vertical-align: middle;
        color: #d1d1d3;
    }
    .active{
        i{
            color:rgb(251,42,161);
        }
        p{
            color: #000;
        }
    }
}

.other{
    height: 4em;
    width: 12em;
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 1em;
    img{
        width: 2em;
        height: 2em;
        margin: 1em;
        margin-left: 1.5em;
        border-radius: 10px;
    }
    .title{
        color: #49586a;
        margin-bottom: 0px;
        margin-top: 1em;
        font-weight: normal;
        font-size: 0.9em;
    }
    
    .subtitle{
        color: #9ea5ae;
        font-size: 0.6em;
    }
}

.support{
    position: absolute;
    bottom: 4em;
    height: 5em;
    ul{
        list-style: none;
        padding-left: 0em;
    }
    li{
        padding: 0.5em;
        padding-left: 1em;
    }
    p{
        display: inline;
        color: #d1d1d3;
    }
    i{
        float: left;
        color: #d1d1d3;
        margin-right: 1em;
    }
}