<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">الباقه</h4>
                      <p class="card-category">بيانات</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <label class="placeholder">السعر السنوي</label>
                                <mat-form-field class="example-full-width">
                                    <input matInput type="number" value="{{packageData != undefined ? packageData.price_year : ''}}" [(ngModel)]="price_year" [ngModelOptions]="{standalone: true}">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <label class="placeholder">السعر الشهري</label>
                                  <mat-form-field class="example-full-width">
                                    <input matInput type="number" value="{{packageData != undefined ? packageData.price_month : ''}}" [(ngModel)]="price_month" [ngModelOptions]="{standalone: true}">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <label class="placeholder">الاسم</label>
                                  <mat-form-field class="example-full-width">
                                    <input matInput  value="{{packageData != undefined ? packageData.name : ''}}" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label class="placeholder">عن الباقه</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput [(ngModel)]="details" [ngModelOptions]="{standalone: true}" value="{{packageData != undefined ? packageData.details : ''}}"></textarea>
                                 </mat-form-field>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <button mat-raised-button type="submit" class="btn btn-primary pull-right btn-create" (click)="perform()">{{btnTitle}}</button>
                      </form>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
