<div class="cover">
  <div class="coverImg" [ngStyle]="{'background-image': 'url(' + EntryData.cover + ')'}" *ngIf="EntryData">
  </div>
  <div class="container">
    <p>{{EntryData? EntryData.name : ''}}</p>
    <button type="button" class="btn btn-light updateProfile" *ngIf="EntryData.type == 'profile'">{{'update' | translate}}</button>
    <button type="button" class="btn btn-light updateProfile" *ngIf="EntryData.type != 'profile'">{{'join' | translate}}</button>
    <hr>
    <div class="toggleDiv">
      <div class="row">
        <div class="col col-md-6 offset-md-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary toggleBtn">{{'posts' | translate}}</button>
            <button type="button" class="btn btn-secondary toggleBtn">{{'images' | translate}}</button>
            <button type="button" class="btn btn-secondary toggleBtn">{{'videos' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

