<div class="cover">
  <div class="coverImg" [ngStyle]="{'background-image': 'url(' + userData.cover + ')'}" *ngIf="userData">
    <div class="profileImg">
      <img src="{{userData? userData.image : ''}}" style="border-radius: 50%;">
    </div>
  </div>
  <div class="container">
    <p>{{userData? userData.name : ''}}</p>
    <button type="button" class="btn btn-light updateProfile">{{'update' | translate}}</button>
    <hr>
    <div class="toggleDiv">
      <div class="row">
        <div class="col col-md-6 offset-md-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Posts</button>
            <button type="button" class="btn btn-secondary">Images</button>
            <button type="button" class="btn btn-secondary">Videos</button>
          </div>
        </div>
        <div class="col col-md-3">
          <div class="iconsOfProf">
          <i class="fas fa-search"></i>
          <i class="fas fa-ellipsis-h"></i>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>

