<div class="row specialCoverRow" *ngIf="!isMobile()">
    <div class="col-12 cover">
        <app-cover [EntryData]="eventData"></app-cover>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <app-create-post [EntryData]="eventData" *ngIf="eventData && eventData.joined == 1" (postAdded)="onAdded($event)"></app-create-post>
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <app-aside-profile [EntryData]="eventData"></app-aside-profile>
    </div>
</div>

<div class="row" *ngIf="isMobile()">
    <div class="col-12 cover">
        <app-cover [EntryData]="eventData"></app-cover>
    </div>
    <div class="col-12">
        <app-create-post [EntryData]="eventData" *ngIf="eventData && eventData.joined == 1"></app-create-post>
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
</div>


