<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">المستخدم</h4>
                      <p class="card-category">البيانات الاساسية</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              
                                <div class="col-md-4">
                                    <label class="placeholder">الباقه</label>
                                    <mat-form-field class="example-full-width">
                                    <input matInput  value="{{userData != undefined ? userData.package_name : ''}}" disabled>
                                    </mat-form-field>
                                </div>

                              <div class="col-md-3">
                                  <label class="placeholder">الايميل</label>
                                  <mat-form-field class="example-full-width">
                                    <input matInput value="{{userData != undefined ? userData.email : ''}}" disabled>
                                  </mat-form-field>
                              </div>
                              
                              <div class="col-md-5">
                                <label class="placeholder">الاسم</label>
                                <mat-form-field class="example-full-width">
                                    <input matInput value="{{userData != undefined ? userData.user_name : ''}}" disabled>
                                  </mat-form-field>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              
                            <div class="col-md-4">
                                <label class="placeholder">النوع</label>
                                <mat-form-field class="example-full-width">
                                <input matInput  value="{{userData != undefined && userData.gender == 0 ? 'ذكر' : 'انثى'}}" disabled>
                                </mat-form-field>
                            </div>

                          <div class="col-md-3">
                              <label class="placeholder">المدينة</label>
                              <mat-form-field class="example-full-width">
                                <input matInput value="{{userData != undefined ? userData.city_name : ''}}" disabled>
                              </mat-form-field>
                          </div>
                          
                          <div class="col-md-5">
                            <label class="placeholder">الدولة</label>
                            <mat-form-field class="example-full-width">
                                <input matInput value="{{userData != undefined ? userData.country_name : ''}}" disabled>
                              </mat-form-field>
                          </div>
                      </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="{{userData != undefined ? userData.image : './assets/images/marc.jpg'}}" onError="this.onerror=null;this.src='./assets/images/marc.jpg';" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{userData ? userData.user_name : ''}}</h4>
                      <a href="javascript:void(0)" class="btn btn-primary btn-round btn_title" (click)="open()">
                        صفحه المستخدم
                      </a>
                  </div>
              </div>
          </div>
      </div>


      <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <p class="card-category">البيانات الفرعية</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-md-3">
                              <label class="placeholder">اخر تسجيل دخول</label>
                              <mat-form-field class="example-full-width">
                                <input matInput  value="{{userData != undefined ? misc.formatDate(userData.last_logout) : ''}}" disabled>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <label class="placeholder">الحالة</label>
                              <mat-form-field class="example-full-width">
                                <input matInput  value="{{userData != undefined && userData.online == 1  ? 'Online' : 'Offline'}}" disabled>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <label class="placeholder">رقم البريد</label>
                              <mat-form-field class="example-full-width">
                                <input matInput value="{{userData != undefined ? userData.postal_code : ''}}" disabled>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3">
                              <label class="placeholder">التليفون</label>
                              <mat-form-field class="example-full-width">
                                  <input matInput value="{{userData != undefined ? userData.phone : ''}}" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                              <label class="placeholder">عن المستخدم</label>
                              <mat-form-field class="example-full-width">
                                 <textarea matInput disabled>{{userData ? userData.about : ''}}</textarea>
                               </mat-form-field>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-danger">
                    <p class="card-category">الاهتمامات</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row" style="direction: rtl;">
                            <span class="interest" *ngFor="let interest of userData.interests">
                                {{interest.name_ar}}
                            </span>
                            <span class="interest" *ngIf="userData.interests.length == 0">
                                لا يوجد اهتمامات
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
