
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">قائمه المحادثات</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                               تفاصيل
                                            </th>
                                            <th>
                                                تاريخ الرسالة
                                            </th>
                                            <th>
                                                اخر رسالة
                                            </th>
                                            <th>
                                                الاسم
                                            </th>
                                            <th>
                                                الرقم
                                            </th>
                                        </thead>
                                        <tbody 
                                            infiniteScroll
                                            [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="50"
                                            (scrolled)="onScroll()"
                                        >
                                            <tr *ngFor="let contact of contacts;let i = index;">
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="open(i)">فتح</button></td>
                                                <td>{{misc.formatDate(contact.created_at)}}</td>
                                                <td>{{contact.data}}</td>
                                                <td>{{contact.name? contact.name : 'غير مسجل'}}</td>
                                                <td class="text-primary">
                                                    {{i+1}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <app-dasboard-footer></app-dasboard-footer>