<!-- first section -->

 <!-- home page content -->

 <mat-sidenav-container>
  <mat-sidenav #sidenav>

    <div class="logo">
      <a class="simple-text">
          <div class="logo-img">
              <img style="max-width: 150px;" src="../../../assets/images/logo_website.webp"/>
          </div>
      </a>
    </div>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()"> <p>{{ 'home_nav' | translate }}</p> </a>
      <a mat-list-item href="/login" (click)="sidenav.toggle()"> <p>{{ 'login' | translate }}</p></a>
      <a mat-list-item href="/register" (click)="sidenav.toggle()"> <p>{{ 'register' | translate }}</p></a>
      <a mat-list-item href="/faq" (click)="sidenav.toggle()"> <p>{{ 'faq' | translate }}</p></a>
      <a mat-list-item href="/terms" (click)="sidenav.toggle()"> <p>{{ 'terms' | translate }}</p></a>
      <a mat-list-item (click)="userService.switchLanguage();sidenav.toggle();"> <p>{{ 'language' | translate }}</p></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh;">
      <div class="home" [ngStyle]="{'height': h}">
        <div class="homeDetails">
            <div class="container">
                <div class="row">
                    <div class="col col-sm-4 menu">
                        <i class="fas fa-bars menu-icon" (click)="sidenav.toggle()"></i>
                    </div>
                    <div class="col col-sm-4">
                        <p><span>come </span><span>chum</span></p>
                    </div>
                    <div class="col col-sm-4 icons" *ngIf="homeData != undefined">
                      <a [href]="[ homeData.data[6].value ]">
                        <i class="fab fa-facebook-f" ></i>
                      </a>
                      <a [href]="[homeData.data[7].value]">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </div>
                </div>
                <div class="row">
                    <div class="logAndRegist" [ngStyle]="{'margin-top': m}">
                        <span class="right-border">
                          <a href="/login">{{ 'login' | translate }}</a>
                        </span>
                        <span>
                          <a href="/register">{{ 'register' | translate }}</a>
                        </span>
                    </div>
                </div>
               
        </div>
      </div>
      </div>
      
      <!--second section  -->
      <div class="second-section">
         <div class="container">
             <div class="search-box">
                <div class="container">
                    <div class="row">
      
                        <div class="col col-md-2 overOther">
                            <div class="form-group col-md-4">
                                <label for="inputState">{{'country' | translate}}</label>
                                <select id="inputState" class="form-control">
                                  <option selected>United States</option>
                                  <option>Egypt</option>
                                  <option>Morocco</option>
                                </select>
                              </div>
                        </div>
      
                        <div class="col col-md-2 borderOne overOther">
                            <div class="form-group col-md-4">
                                <label for="inputState">{{'city' | translate}}</label>
                                <select id="inputState" class="form-control">
                                  <option selected>New York</option>
                                  <option>Cairo</option>
                                  <option>Casablanca</option>
                                  <option>washangeton</option>
                                </select>
                              </div>
                        </div>
      
                        <div class="col col-md-2 overOther">
                            <div class="form-group col-md-4">
                                <label for="inputState">{{'travelers' | translate}}</label>
                                <select id="inputState" class="form-control">
                                  <option selected>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                              </div>
                        </div>
      
                        <div class="col col-md-2 borderOne overOther">
                            <div class="form-group col-md-4">
                                <label for="inputState">{{'time' | translate}}</label>
                                <input type="date" />
                              </div>
                        </div>
                        
                        <div class="col col-md-3 overOther">
                            <button type="button" class="btn btn-light" (click)="search()">{{'advanced_search' | translate}}</button>
                        </div>
      
                        <div class="col col-md-1 search2 overOther">
                            <button type="button" class="btn btn-secondary" (click)="search()">{{'search' | translate}}</button>
                        </div>
      
                    </div>
                </div>
             </div>
             <!-- available places -->
             <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <h3 class="tittle">{{'available_rent' | translate}}</h3>
                    <hr class="horizon">
             </div>
               <!-- carousel -->
                <div class="col-lg-9 col-sm-8 col-xs-12" style="overflow-x: hidden;position: relative;">
                <div class="slider2">
                  <div class="row specialRow">
                    <i class="fas fa-angle-left"></i>
                    <div class="col col-md-4">
                       <div class="innerSlide2">
                          <div class="image">
                            <img src="../../../assets/images/img1.jpg">
                          </div>
                          <button type="button" class="btn btn-primary" onclick="location.href='/login'">{{'free' | translate}}</button>
                          <h4>Tailandia</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                             sed</p>
                       </div>
                    </div>
                    <div class="col col-md-4">
                      <div class="innerSlide2">
                         <div class="image">
                           <img src="../../../assets/images/img2.jpg">
                         </div>
                         <button type="button" class="btn btn-primary" onclick="location.href='/login'">{{'free' | translate}}</button>
                         <h4>rio de janeiro</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed</p>
                      </div>
                   </div>
                   <div class="col col-md-4">
                    <div class="innerSlide2">
                       <div class="image">
                         <img src="../../../assets/images/img3.jpg">
                       </div>
                       <button type="button" class="btn btn-primary" onclick="location.href='/login'">{{'free' | translate}}</button>
                       <h4>madrid</h4>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                          sed</p>
                    </div>
                 </div>
                 <div class="col col-md-4">
                  <div class="innerSlide2">
                     <div class="image">
                       <img src="../../../assets/images/img1.jpg">
                     </div>
                     <button type="button" class="btn btn-primary" onclick="location.href='/login'">{{'free' | translate}}</button>
                     <h4>madrid</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed</p>
                  </div>
               </div>
                  </div>
                </div>  
                </div>
         </div>
      
         <div class="row">
          <div class="col col-md-8 offset-md-4">
            <div class="row">
            <div class="col col-md-6 test" *ngIf="homeData != undefined">
              <div class="imagePng" [ngStyle]="{'background-image': 'url(' + homeData.events[eventIndex].cover + ')'}">
                <h5>{{homeData.events[eventIndex].name}}</h5>
                <p>{{homeData.events[eventIndex].about}}</p>
                <i class="fas fa-chevron-circle-left prevIcon" (click)="prevEvent()"></i>
                <i class="fas fa-chevron-circle-right nextIcon" (click)="nextEvent()"></i>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="events">
                <h3 class="tittle2">{{'great_events' | translate}}</h3>
                <hr class="horizon2">
                <p>{{'events_subtitle' | translate}}</p>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-6">
               <button type="button" class="btn btn-light viewBtn" onclick="location.href='/login'">{{'view' | translate}}</button>
            </div>
          </div>
        </div>
       </div>
      </div>
      </div>
      
      <!-- Registration -->
      
      <div class="registerDiv">
        <div class="background container-fluid">
         <div class="row">
            <div class="col-md-7">
              <div class="comeNow">
                <h3>{{'getting_started' | translate}}</h3>
              <p>{{'getting_started_subtitle' | translate}}</p>
            </div>
          </div>
           <div class="col-md-4">
              <div class="regist-form text-center">
            <img alt="logo" src="../../../assets/images/logo.jpg">
       
             <form method="post" action="/homeRegister" id="form1">
               <div class="form-group">
               <input name="email" type="text" class="form-control" id="formGroupExampleInput" placeholder="E-mail" [(ngModel)]="email">
               </div>
               <div class="form-group">
               <input name="pass" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" [(ngModel)]="password">
               </div>
                 
                               <p class="details">
                                    {{'register_home_subtitle' | translate}}
                  <a href="/terms">{{'terms' | translate}}</a>
               </p>
                <button type="submit" class="btn btn-primary background btn-register" form="form1" (click)="register()">{{'register' | translate}}</button>
               <div class="twoSpans">
                               <a href="\login">
                                   <span class="ry8Span">{{'already_login' | translate}}</span>
                                   <span class="leftSpan">{{'login' | translate}}</span>
                               </a>
               </div>
           </form> 
       
            
            </div>
           </div>
           <div class="col-md-1">
           </div>
         </div>
       </div>			 
      </div>
      
      <!-- End Registration -->
      
      <!--benefits -->
      <div class="benefits">
        <div class="container">
          <div class="row">
            <div class="col col-md-6">
              <h3 class="tittle">{{'benefits' | translate}} </h3>
              <hr class="horizon">
              <p>{{'benefits_subtitle' | translate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <div class="benefit">
                <i class="fas fa-wallet"></i>
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar' ? homeData.benefits[0].title_ar : ''}}</h5>
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en' ? homeData.benefits[0].title_en : ''}}</h5>
                <p *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar'  ? homeData.benefits[0].subtitle_ar : ''}}</p>
                <p *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en'  ? homeData.benefits[0].subtitle_en : ''}}</p>
              </div>
            </div>
            <div class="col col-md-4">
              <div class="benefit">
                <i class="fas fa-shopping-cart"></i>
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar' ? homeData.benefits[1].title_ar : ''}}</h5>
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en' ? homeData.benefits[1].title_en : ''}}</h5>
                <p *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar'  ? homeData.benefits[1].subtitle_ar : ''}}</p>
                <p *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en'  ? homeData.benefits[1].subtitle_en : ''}}</p>
              </div>
            </div>
            <div class="col col-md-4">
              <div class="benefit">
                <i class="fas fa-headset"></i> 
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar' ? homeData.benefits[2].title_ar : ''}}</h5>
                <h5 *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en' ? homeData.benefits[2].title_en : ''}}</h5>
                <p *ngIf="homeData != undefined && translate.currentLang == 'ar'">{{homeData != undefined && translate.currentLang == 'ar'  ? homeData.benefits[2].subtitle_ar : ''}}</p>
                <p *ngIf="homeData != undefined && translate.currentLang == 'en'">{{homeData != undefined && translate.currentLang == 'en'  ? homeData.benefits[2].subtitle_en : ''}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Reviews -->
      <div class="reviews" *ngIf="homeData != undefined">
        <div class="container">
          <h2>{{'client_reviews' | translate}}</h2>
          <app-slider [data]="homeData.reviews"></app-slider>
          <!-- carousel -->
        </div>
      </div>
      
      <!-- contact -->
      <div class="contact">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-6 mapInner">
              <!-- map -->
              <div class="map" *ngIf="homeData != undefined">
                <app-map [location]="homeData.data[0].value.split(',')" [admin]="false"></app-map>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 contactCol">
             <div class="row">
               <div class="col col-md-4">
                 <p class="contactTitl">{{'address' | translate}}</p>
               </div>
               <div class="col col-md-8">
                 <p>{{homeData != undefined ? homeData.data[1].value : ''}}</p>
               </div>
             </div>
             <div class="row">
              <div class="col col-md-4">
                <p class="contactTitl">{{'fax' | translate}}</p>
              </div>
              <div class="col col-md-8">
                <p>{{homeData != undefined ? homeData.data[2].value : ''}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4">
                <p class="contactTitl">{{'phone' | translate}}</p>
              </div>
              <div class="col col-md-8">
                <p>{{homeData != undefined ? homeData.data[3].value : ''}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4">
                <p class="contactTitl">{{'whatsapp' | translate}}</p>
              </div>
              <div class="col col-md-8">
                <p>{{homeData != undefined ? homeData.data[4].value : ''}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4">
                <p class="contactTitl">{{'email' | translate}}</p>
              </div>
              <div class="col col-md-8">
                <p>{{homeData != undefined ? homeData.data[5].value : ''}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md">
                <button type="button" class="btn btn-primary contactBtn">{{'contact_nav' | translate}}</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- navigation -->
      <div class="navigation">
        <div class="container">
          <div class="row">
            <div class="col col-md-2">
              <h4>{{'navigation' | translate}}</h4>
              <ul>
                <li>{{'login' | translate}}</li>
                <li>{{'register' | translate}}</li>
                <li>{{'benefits' | translate}}</li>
                <li>{{'client_reviews' | translate}}</li>
                <li>{{'contact_nav' | translate}}</li>
              </ul>
            </div>
      
            <div class="col col-md-2">
              <h4>{{'info' | translate}}</h4>
              <ul>
                <li>{{'terms' | translate}}</li>
                <li>{{'faq' | translate}}</li>
              </ul>
            </div>
      
          </div>
          <div class="row">
            <div class="col offset-md-6 Newsletter">
              <p>{{'news_letter' | translate}}</p>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'enter_email' | translate}}">
              <button type="submit" class="btn btn-primary">{{'subscribe' | translate}}</button>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="container">
          <div class="row">
            <div class="col col-md-9 div-row">
              <img src="../../../assets/images/logo.png">
              <span>Copyright &copy; 2020 Come Chum <a href="http://www.click4ebusiness.com"> <span class="click4bsnes"> | Click4bussiness</span> </a> </span>
            </div>
            <div class="col col-md-3 icons" *ngIf="homeData != undefined">
              <a [href]="[ homeData.data[6].value ]">
                <i class="fab fa-facebook-f" style="color:white"></i>
              </a>
              <a [href]="[ homeData.data[7].value ]">
                <i class="fab fa-twitter" style="color:white"></i>
              </a>
              <a [href]="[ homeData.data[8].value ]">
                <i class="fab fa-instagram" style="color:white"></i>
              </a>            
            </div>
          </div>
         
        </div>
      </div>
      </div>
        
      <span class="support-chat">
        <div class="fabs" [ngStyle]="{'z-index': z_index}">
          <div class="chat" [ngClass]="{'is-visible': status_chat}">
            <div class="chat_header">
              <div class="chat_option">
              <div class="header_img">
                <img src="../../../assets/images/avatar_ma6vug.webp"/>
                </div>
                <span id="chat_head">{{'customer_service' | translate}}</span> <br> <span class="online">({{'online' | translate}})</span>
               <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>
        
              </div>
        
            </div>
              <div id="chat_fullscreen" class="chat_conversion chat_converse" style="display: block;">
              <span class="chat_msg_item chat_msg_item_admin intial-msg" *ngIf="messages.length == 0">
                {{'any_questions' | translate}}
              </span>
      
              <span class="chat_msg_item" [ngClass]="{'chat_msg_item_admin': message.sender == 1 , 'chat_msg_item_user' : message.sender == 0}" *ngFor="let message of messages">
                {{message.data}}
              </span>
      
              <!-- <span class="chat_msg_item chat_msg_item_user">
                    Hello!</span>
              <div class="status">20m ago</div>
              <div class="status2">Just now, Not seen yet</div> -->
            </div>
            <div class="fab_field">
              <a id="fab_camera" class="fab" [ngClass]="{'is-visible': status_chat}"><i class="zmdi zmdi-camera"></i></a>
              <a id="fab_send" class="fab"  [ngClass]="{'is-visible': status_chat}" (click)="send()"><i class="zmdi zmdi-mail-send"></i></a>
              <textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message" [(ngModel)]="text"></textarea>
            </div>
          </div>
        
          <div class="chat2" [ngClass]="{'active': status_chat}" (click)="show()">
              <div class="background"></div>
              <svg class="chat-bubble" width="75" height="75" viewBox="0 0 100 100">
                <g class="bubble">
                  <path class="line line1" d="M 30.7873,85.113394 30.7873,46.556405 C 30.7873,41.101961
                  36.826342,35.342 40.898074,35.342 H 59.113981 C 63.73287,35.342
                  69.29995,40.103201 69.29995,46.784744" />
                  <path class="line line2" d="M 13.461999,65.039335 H 58.028684 C
                    63.483128,65.039335
                    69.243089,59.000293 69.243089,54.928561 V 45.605853 C
                    69.243089,40.986964 65.02087,35.419884 58.339327,35.419884" />
                </g>
                <circle class="circle circle1" r="1.9" cy="50.7" cx="42.5" />
                <circle class="circle circle2" cx="49.9" cy="50.7" r="1.9" />
                <circle class="circle circle3" r="1.9" cy="50.7" cx="57.3" />
              </svg>
          </div>
        </div>
      </span>
      
      <notifier-container style="font-family: cocon;"></notifier-container>
      
      <!-- end home page content -->      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>