<div>
      <div class="pageContent">
		  <div class="container-fluid">
		     <div class="row" [ngStyle]="{'height': height}">	 
				 <div class="col-md-8 logHeight">
					 <div class="row">
					     <div class="col offset-sm-1">		
				    <div class="loginLogo">
						<a href="/"> 
							<img alt="Website Logo" src="../../../assets/images/logo_website.png">
						</a>
					</div>
				 </div>
					 </div>
				 
					 <div class="row">
						 <div class="col">
							  <div class="login-title">
						   <h5>{{'login' | translate}}</h5>
						    <div class="social-login">
                                    <button type="button" class="btn btn-primary facebook-login" (click)="signInWithFB()">
									<i class="fab fa-facebook-f"></i>
									<span style="margin-right: 1em;">{{'login_with_facebook' | translate}}</span>
								    </button>
                                    <button type="button" class="btn btn-primary twitter-login" (click)="loginTwitter()">
									   <i class="fab fa-twitter"></i>
								    </button>
                                    <button type="button" class="btn btn-primary insta-login" (click)="signInWithGoogle()">
									   <i class="fab fa-google"></i>
								    </button>
							 </div>
						</div>
							 
						 </div>
					  
					 </div>
					 
					  <form class="register-form" method="post" action="checkLogin" id="form1">
						  <div class="or">
							
								<div class="row">
									<div class="col col-sm-5">
										<hr>
									</div>
									<div class="col">
										<span>{{'or' | translate}}</span>
									</div>
									<div class="col col-sm-5">
										<hr>
									</div>
								</div>
						</div>
	
						  
						  
					  	<div class="row upper-border">
					
						<div class="col">
						  <input placeholder="{{'email' | translate}}" name="email" type="email" class="form-control" id="email" lang="en" [(ngModel)]="email">
						</div>
						</div>
						  
						<div class="row lower-border second-row">
						<div class="col col-sm-7 first-col">
						  <input placeholder="{{'password' | translate}}" name="pass" type="password" class="form-control" id="password" lang="en" [(ngModel)]="password">
						</div>
					   <div class="col col-sm-5">
                           
                           <button class="btn btn-primary login-btn" type="submit" form="form1" data-placement-from="top" data-placement-align="left"
                                            data-animate-enter="" data-animate-exit="" data-color-name="bg-black" (click)="login()">
										<mat-progress-spinner *ngIf="loading"
											style="margin: auto;"
											diameter="30"
											class = "tp-margin"
											[color] = "color"
											[mode] = "mode">
										</mat-progress-spinner>
										<span *ngIf="!loading">{{'login' | translate}}</span>
                           </button>
                           
						   </div>
						</div>
						<a class="forget-div" href="/forget"><p>{{'forget_your_password' | translate }}</p></a>  
					</form>
				 
				 </div>	
				 
				 
				 
				 
				 <div class="col-md-4 side">
				   <div class="loginSlider">
					   <div class="container">
						  <div class="absHeading">
                              <h2>{{'registration' | translate}}</h2>
                              <h2>{{'advnatages' | translate}}</h2>
						  </div>
					    <div id="carouselExampleSlidesOnly" class="carousel slide shifting" data-ride="carousel">
				  <div class="carousel-inner">
					<div class="carousel-item active">
					  <h1 class="count">01</h1>
					  <p class="details">
                     - ابجد هوز ابجد هوز ابجد هوز
                     ابجد هوز ابجد هوز ابجد هوز
					</p>
					</div>
					</div>
				  </div>
						<div class="termLink">
						   <i class="fas fa-align-left"></i>
						   <a href="/terms">{{'terms' | translate}}</a>
						</div>
				</div>
	   
				   </div>
				 
				 </div>
				 
			 </div>
		  </div>
	  </div>
</div>
<notifier-container style="font-family: cocon;"></notifier-container>