
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">قائمه الجروبات</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                حذف
                                            </th>
                                            <th>
                                                صفحه الجروب
                                            </th>
                                            <th>
                                               تفاصيل
                                            </th>
                                            <th>
                                                تاريخ الاشتراك
                                            </th>
                                            <th>
                                                عن جروب 
                                            </th>
                                            <th>
                                                الادمن
                                            </th>
                                            <th>
                                                عدد الاعضاء
                                            </th>
                                            <th>
                                                الاسم
                                            </th>
                                            <th>
                                                الرقم
                                            </th>
                                        </thead>
                                        <tbody 
                                            infiniteScroll
                                            [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="50"
                                            (scrolled)="onScroll()"
                                        >
                                            <tr *ngFor="let group of groups;let i = index;">
                                                <td><button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="remove(i)">حذف</button></td>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="open(i)">فتح</button></td>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="details(i)">تفاصيل</button></td>
                                                <td>{{group.created_at}}</td>
                                                <td>{{group.about}}</td>
                                                <td>{{group.owner_name}}</td>
                                                <td>{{group.members}}</td>
                                                <td>{{group.name}}</td>
                                                <td class="text-primary">
                                                    {{i+1}}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <app-dasboard-footer></app-dasboard-footer>