<!--Navbar-->
<mdb-navbar #navbarid id="navbarid" SideClass="navbar navbar-expand-lg z-depth-0 navbar-dark" [containerInside]="false">

  <!-- Collapsible content -->
  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img class="profile-icon" src="../../../assets/images/marc.jpg" />
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect >Proile</a>
          <a class="dropdown-item waves-light" mdbWavesEffect >My Groups</a>
          <a class="dropdown-item waves-light" mdbWavesEffect >My Events</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto no-distance">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
          <a class="iconLink">
            <i class="material-icons icon" style="font-size: 28px;">notifications</i>
          </a>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary notifications" role="menu">
          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/calendar.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is successfuly uploaded </a>
          </div>

          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/money.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is successfuly uploaded </a>
            <span class="unread"></span>
          </div>

          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/comments.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is <br> successfuly uploaded </a>
          </div>
        </div>
      </li>
    </ul>

      

      <a class="iconLink distance" routerLinkActive="on"  [routerLink]="[ '/chat' ]">
        <i class="fas fa-comment-dots icon" style="font-size: 23px;"></i>
      </a>

      <div class="search-container">
        <input class="search" type="text" placeholder="Search" />
        <p>Advanced</p>
      </div>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" (click)="clickEvent('/events')"  [ngClass]="status == '/events' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect href="#" routerLinkActive="on" [routerLink]="'/events'">{{'events_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/groups')"  [ngClass]="status == '/groups' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/groups'">{{'groups_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/feed')"  [ngClass]="status == '/feed' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/feed'">{{'home_nav' | translate}}</a>
        </li>
            
        </ul>
        <!-- Links -->

        <mdb-navbar-brand>
          <a class="navbar-brand" href="/">
            <img class="logo" src="../../../assets/images/logo.png">
          </a>
        </mdb-navbar-brand>

  </links>
  <!-- Collapsible content -->

   <!-- Navbar brand -->
   

</mdb-navbar>
<!--/.Navbar-->