@import "../../styles.scss";

mdb-navbar{
    direction: rtl;
    position: fixed;
    width: 100%;
    z-index: 99999;
    // position: relative;
    .nav-link {
        font-family: cairo-semibold;
        color: #fff;
        margin: 0 1em;
        font-size: 14px;
    }
    .dropdown{
        direction: ltr;
        background-color: transparent;
        list-style: none;
        padding: 0px;
        margin: 0px;
        .nav-link{
            padding: 0px;
            margin: 0px;
        }
        .dropdown-item:hover{
            background: linear-gradient(60deg, #7e49b5 0%, #c7338d 100%); 
            color: white;
        }
        .dropdown-divider{
            margin: 0px;
        }
        .dropdown-menu{
            background: white;
            a{
                margin: 0px;
                width: 100%;
            }
        }
        .notification:hover{
            background: #fff; 
            color: black !important;
            box-shadow: none !important;
            .text{
                background: #fff; 
                color: black !important;
                box-shadow: none !important;
            }
            .unread{
                background-color: rgb(24,118,242);
            }
        }
        .notification{
            display: flex;
        }
        .notifications{
            position: absolute !important;
            left: -14em;
            
            background: linear-gradient(60deg, #7e49b5 0%, #c7338d 100%); 
            .notification-icon{
                width: 3em;
                margin: 1em;
                background-color: #0000001a;
                border-radius: 25px;
                padding: 5px;
                height: 3em;
            }
            .text{
                width: 18em;
                max-width: 18em;
                height: 6em;
                white-space: inherit;
                display: flex;
                color: #fff;
            }
            .unread{
                width: 1em;
                height: 1em;
                margin: auto;
                margin-right: 2em;
                background-color: #fff;
                border-radius: 50%;
                margin-left: 1em;
            }
        }
    }
    .navbar-toggler{
        background-color: #fff !important;
    }
    .no-distance{
        margin: 0px !important;
        padding: 0px !important;
    }
    .distance{
        margin-left: 2em;
    }
}
.items-style{
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 25px;
} 

.logo{
    width: 3em;
}

.search-container{
    display: flex;
    width: 45%;
    .search{
        border-radius: 25px;
        border: 0px;
        line-height: 1.5;
        padding-top: .5em;
        text-align: left;
        padding-left: 2em;
        width: 80%;
        box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.21);
        margin: auto;
    }
    p{
        position: absolute;
        top: 1.5em;
        left: 60%;
        color: #c5348e;
        border-left: 1px solid;
        padding-left: 1em;
        cursor: pointer;
    }
}


.icon{
    margin: 1em;
    opacity: 0.7;
}

.profile-icon{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 1em;
}

.iconLink{
    color: black !important;
}