<!--Navbar-->
<mdb-navbar #navbarid id="navbarid" SideClass="navbar navbar-expand-lg z-depth-0 navbar-dark" [containerInside]="false" [ngStyle]="{'direction': translate.currentLang == 'ar' ? 'ltr' : 'rtl'}">

  <!-- Collapsible content -->
  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img class="profile-icon" src="{{userImage}}" onError="this.onerror=null;this.src='./assets/images/marc.jpg';" />
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" 
        [ngStyle]="{'left': translate.currentLang == 'ar' ? '0em' : '-3em',
        'font-family': translate.currentLang == 'ar' ? 'cairo-semibold' : '',
        'text-align': translate.currentLang == 'ar' ? 'right' : ''}">

          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="[ '/profile' , userId ]" >{{'profile' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect >{{'my_groups' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect >{{'my_events' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="changeLang()">{{'language' | translate}}</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="[ '/terms']">{{'terms' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">{{'logout' | translate}}</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav mr-auto no-distance">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
          <a class="iconLink">
            <i class="material-icons icon" style="font-size: 28px;">notifications</i>
          </a>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary notifications" role="menu" [ngStyle]="{'left': translate.currentLang == 'ar' ? '-5em' : '-14em' }">
          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/calendar.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is successfuly uploaded </a>
          </div>

          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/money.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is successfuly uploaded </a>
            <span class="unread"></span>
          </div>

          <div class="notification">
            <img class="notification-icon" src="../../../assets/images/comments.svg"/>
            <a class="dropdown-item waves-light text" mdbWavesEffect >Your post to group ABC is <br> successfuly uploaded </a>
          </div>
        </div>
      </li>
    </ul>

      

      <a class="iconLink distance" routerLinkActive="on"  [routerLink]="[ '/chat' ]">
        <i class="fas fa-comment-dots icon" style="font-size: 23px;"></i>
      </a>

      <div class="search-container">
        <input class="search" type="text" placeholder="{{'search' | translate}}" 
        [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left', 
        'padding-left': translate.currentLang == 'ar' ? '0em' : '2em', 
        'padding-right': translate.currentLang == 'ar' ? '2em' : '0em',
        'font-family': translate.currentLang == 'ar' ? 'cairo-semibold' : ''}" />

        <p 
        [ngStyle]="{'border-right': translate.currentLang == 'ar' ? '1px solid' : '0px' , 
        'padding-right': translate.currentLang == 'ar' ? '1em' : '0em' , 
        'right': translate.currentLang == 'ar' ? 'unset' : '32%' ,  
        'left': translate.currentLang != 'ar' ? 'unset' : '23%' ,  
        'border-left': translate.currentLang != 'ar' ? '1px solid' : '0' , 
        'padding-left': translate.currentLang != 'ar' ? '1em' : '0em',
        'font-family': translate.currentLang == 'ar' ? 'cairo-light' : ''}">{{'advanced' | translate}}</p>
        
      </div>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" (click)="clickEvent('/events')"  [ngClass]="status == '/events' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect href="#" routerLinkActive="on" [routerLink]="'/events'">{{'events_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/groups')"  [ngClass]="status == '/groups' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/groups'">{{'groups_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/feed')"  [ngClass]="status == '/feed' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/feed'">{{'home_nav' | translate}}</a>
        </li>
            
        </ul>
        <!-- Links -->

        <mdb-navbar-brand>
          <a class="navbar-brand" href="/">
            <img class="logo" src="../../../assets/images/logo.png">
          </a>
        </mdb-navbar-brand>

  </links>
  <!-- Collapsible content -->

   <!-- Navbar brand -->
   

</mdb-navbar>
<!--/.Navbar-->