<!--Navbar-->
<mdb-navbar #navbarid id="navbarid" SideClass="navbar navbar-expand-lg z-depth-0 navbar-dark" [containerInside]="false">

  <!-- Collapsible content -->
  <links>

      <img class="profile-icon" src="../../../assets/images/marc.jpg" />

      <a class="iconLink" routerLinkActive="on"  [routerLink]="[ '/faq' ]">
        <i class="material-icons icon" style="font-size: 28px;">error</i>
      </a>

      <a class="iconLink" href="#">
        <i class="material-icons icon" style="font-size: 28px;">notifications</i>
      </a>

      <a class="iconLink" routerLinkActive="on"  [routerLink]="[ '/chat' ]">
        <i class="fas fa-comment-dots icon" style="font-size: 23px;"></i>
      </a>

      <div class="search-container">
        <input class="search" type="text" placeholder="Search" />
        <p>Advanced</p>
      </div>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" (click)="clickEvent('/events')"  [ngClass]="status == '/events' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect href="#" routerLinkActive="on" [routerLink]="'/events'">{{'events_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/groups')"  [ngClass]="status == '/groups' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/groups'">{{'groups_nav' | translate}}</a>
        </li>

        <li class="nav-item"  (click)="clickEvent('/feed')"  [ngClass]="status == '/feed' ? 'active' : 'in-active'">
          <a class="nav-link waves-light items-style" mdbWavesEffect  href="#" routerLinkActive="on" [routerLink]="'/feed'">{{'home_nav' | translate}}</a>
        </li>
            
        </ul>
        <!-- Links -->

        <mdb-navbar-brand>
          <a class="navbar-brand" href="/">
            <img class="logo" src="../../../assets/images/logo.png">
          </a>
        </mdb-navbar-brand>

  </links>
  <!-- Collapsible content -->

   <!-- Navbar brand -->
   

</mdb-navbar>
<!--/.Navbar-->