.gallery{
    border-radius: 10px;
    background: white;
    padding: 1em 0em 1em 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    p{
        text-align: center;
    }
    img{
        width: 100%;
        border-radius: 25px;
    }
}