.logout_btn{
    border: 1px solid #be3692;
    border-radius: 25px;
    padding: 0.5em;
    font-size: 15px !important;
    color:#be3692 !important;
    margin-left: 65px !important;
    margin-right: 15px !important;
}

.scrollable_list{
    overflow-y: scroll;
    height: 80%;    
}