
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <p class="card-category">اجمالي الارباح</p>
                                <h3 class="card-title">{{total}}$</h3>
                            </div>
                            <div class="card-footer">
                              <div class="stats">
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">event_note</i>
                                </div>
                                <p class="card-category">ارباح السنه</p>
                                <h3 class="card-title">{{year}}$</h3>
                            </div>
                            <div class="card-footer">
                                <select class="select-date" [(ngModel)]="yearDate" (change)="getStatictics()">
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                              <i class="material-icons select-icon">arrow_drop_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">group</i>
                                </div>
                                <p class="card-category">ارباح الشهر</p>
                                <h3 class="card-title">{{month}}$</h3>
                            </div>
                            <div class="card-footer">
                                    <select class="select-date" [(ngModel)]="monthDate" (change)="getStatictics()">
                                        <option value="1">يناير</option>
                                        <option value="2">فبراير</option>
                                        <option value="3">مارس</option>
                                        <option value="4">ابريل</option>
                                        <option value="5">مايو</option>
                                        <option value="6">يونيو</option>
                                        <option value="7">يوليو</option>
                                        <option value="8">اغسطس</option>
                                        <option value="9">سبتمبر</option>
                                        <option value="10">اكتوبر</option>
                                        <option value="11">نوفمبر</option>
                                        <option value="12">ديسمبر</option>
                                    </select>
                                  <i class="material-icons select-icon">arrow_drop_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">account_box</i>
                                </div>
                                <p class="card-category">ارباح اليوم</p>
                                <h3 class="card-title">{{day}}$</h3>
                            </div>
                            <div class="card-footer">
                                <select class="select-date" [(ngModel)]="dayDate" (change)="getStatictics()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="13">31</option>
                                </select>
                              <i class="material-icons select-icon">arrow_drop_down</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">قائمه المعاملات المادية</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                تاريخ الاشتراك
                                            </th>
                                            <th>
                                                عن طريق
                                            </th>
                                            <th>
                                                الباقه
                                            </th>
                                            <th>
                                                الاسم
                                            </th>
                                            <th>
                                                الرقم
                                            </th>
                                        </thead>
                                        <tbody 
                                            infiniteScroll
                                            [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="50"
                                            (scrolled)="onScroll()"
                                        >
                                            <tr *ngFor="let group of groups;let i = index;">
                                                <td>{{misc.formatDate(group.created_at)}}</td>
                                                <td>{{methods[group.method]}}</td>
                                                <td>{{group.package_name}}</td>
                                                <td>{{group.user_name}}</td>
                                                <td class="text-primary">
                                                    {{i+1}}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <app-dasboard-footer></app-dasboard-footer>