.btn-primary{
    text-transform: capitalize;
    background-image: linear-gradient(to right, #c3348f , #7b49b7);
    font-size: 14px;
    border-radius: 10px;
    padding: .5em 2em;
    box-shadow: 0px 9px 13px #fec5e6;
    border: none;
    font-family: cairo-bold;
}

img{
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin-bottom: 1em;
}

textarea{
    width: 100%;
    border: none;
    color: gray;
}

.center{
    text-align: center;
    margin: auto;
}

.link-style{
    color: #4873a8;
}

.footer{
    padding: 0px;
    background-color: #eee;
}

.profile-img{
    width: 5em;
    border-radius: 50%;
    height: 5em;
}

.centerBtn{
    display: block !important;
    margin: auto !important;
}

.table-responsive{
    overflow: hidden !important;
}

.card-title{
    text-align: center !important;
}

.card{
    width: 40em;
}

.col{
    margin: 0.5em;
}

.interest{
    border-radius: 20px;
    border: 1px solid #c6338e;
    color: #c6338e;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    display: inline-block;
}

.interest-title{
    font-family: cairo-semibold;
}

.active{
    color: #fff;
    background: linear-gradient(60deg, #7e49b5 0%, #c7338d 100%);
}

.distance{
    margin-bottom: 2em;
}