<div>
      <div class="pageContent">
		  <div class="container-fluid">
		     <div class="row" [ngStyle]="{'height': height}">	 
				 <div class="col-md-8 logHeight">
					 <div class="row">
					     <div class="col offset-sm-1">		
				    <div class="loginLogo">
						<img alt="Website Logo" src="../../../assets/images/logo_website.png">
					</div>
				 </div>
					 </div>
				 
					 <div class="row">
						 <div class="col">
							  <div class="login-title">
						   <h5>{{'forget_your_password' | translate}}</h5>
						</div>
							 
						 </div>
					  
					 </div>
					 
					  <form class="register-form" method="post" action="checkLogin" id="form1">
	
						  
						  
					  	<div class="upper-border">
					
						  <input placeholder="{{'email' | translate}}" name="email" type="email" class="form-control" id="email" [(ngModel)]="email" lang="en">
							<div>
								<button class="btn btn-primary forget-btn" type="submit" form="form1" data-placement-from="top" data-placement-align="left"
									data-animate-enter="" data-animate-exit="" data-color-name="bg-black" (click)="forget()">
									<mat-progress-spinner *ngIf="loading"
										style="margin: auto;"
										diameter="30"
										class = "tp-margin"
										[color] = "color"
										[mode] = "mode">
									</mat-progress-spinner>
										<span *ngIf="!loading">{{'send' | translate}}</span>
									</button>
							</div>
						</div>
					</form>
				 
				 </div>	
				 
				 
				 
				 
				 <div class="col-md-4 side">
				   <div class="loginSlider">
					   <div class="container">
						  <div class="absHeading">
							<h2>{{'registration' | translate}}</h2>
							<h2>{{'advnatages' | translate}}</h2>
						  </div>
					    <div id="carouselExampleSlidesOnly" class="carousel slide shifting" data-ride="carousel">
				  <div class="carousel-inner">
					<div class="carousel-item active">
					  <h1 class="count">01</h1>
					  <p class="details">
                     - ابجد هوز ابجد هوز ابجد هوز
                     ابجد هوز ابجد هوز ابجد هوز
					</p>
					</div>
					</div>
				  </div>
						<div class="termLink">
						   <i class="fas fa-align-left"></i>
						   <a href="/terms">{{'terms' | translate}}</a>
						</div>
				</div>
	   
				   </div>
				 
				 </div>
				 
			 </div>
		  </div>
	  </div>
</div>
<notifier-container style="font-family: cocon;"></notifier-container>
