
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">قائمه المدونات</h4>
                            </div>
                            <div class="card-body">
                                <button mat-raised-button type="submit" class="btn btn-primary pull-right btn-create" [routerLink]="['/cpanel/blog-details']">اضافه</button>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                حذف
                                            </th>
                                            <th>
                                                صفحه المقاله
                                            </th>
                                            <th>
                                                تعديل
                                            </th>
                                            <th>
                                                تاريخ الانشاء
                                            </th>
                                            <th>
                                                مشاهدات 
                                            </th>
                                            <th>
                                                التعليقات
                                            </th>
                                            <th>
                                                الاعجابات
                                            </th>
                                            <th>
                                                صاحب المدونة
                                            </th>
                                            <th>
                                                الاسم
                                            </th>
                                            <th>
                                                الرقم
                                            </th>
                                        </thead>
                                        <tbody 
                                            infiniteScroll
                                            [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="50"
                                            (scrolled)="onScroll()"
                                        >
                                            <tr *ngFor="let blog of blogs;let i = index;">
                                                <td><button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="remove(i)">حذف</button></td>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="open(i)">فتح</button></td>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="update(i)">تعديل</button></td>
                                                <td>{{misc.formatDate(blog.created_at)}}</td>
                                                <td>{{blog.seen}}</td>
                                                <td>{{blog.comments}}</td>
                                                <td>{{blog.likes}}</td>
                                                <td *ngIf="blog.created_by != -1"><a [routerLink]="['/cpanel/user-details']" [queryParams]="{ userId: blog.created_by }">{{blog.created_by_name}}</a></td>
                                                <td *ngIf="blog.created_by == -1">{{blog.created_by_name}}</td>
                                                <td>{{blog.title}}</td>
                                                <td class="text-primary">
                                                    {{i+1}}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <app-dasboard-footer></app-dasboard-footer>