.term-body{
    background: #f3f5f7;
}

.termTitle {
    background-image: url('../../assets/images/faq-background.jpg');
}

.website-Logo{
    width: 15%;
    margin-top: 1em;
}

.faq-title{
    text-align: center;
    font-family: cocon;
    font-weight: normal;
    color: white;
    font-size: 1.5em;
}

.termTitle{
    height: 11em;
}

.termsContent{
    margin-top: 3em;
}

.query{
    padding-right: 5em;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border: 0px;
    height: 3em;
    box-shadow: 0px 0px 10px #00000063;
}

.query::placeholder{
    font-family: cocon;
    line-height: 2.5em;
    color: #9fa0a8;
}

// .query::placeholder{
//     font-family: cocon;
// }

// .query::placeholder{
//     font-family: cocon;
// }

.container{
    width: 75%;
}

.search{
    position: absolute;
    right: 2em;
    top: 3em;
    color: #c3328d;
}

.mark{
    position: absolute;
    right: 2em;
    top: 1em;
    color: #c3328d;
    font-size: 2em;
    background: transparent;
    padding: 0px;
}

#faqAccordion{
    background-color: white;
    border: 1px solid #d4dadf;
    margin: 1em;
    padding: 1em;
    text-align: right;
    direction: rtl;
}

.question{
    font-family: cairo-black;
    font-size: 0.7em;
}

.answer{
    font-family: cocon;
    color: #9fa0a8;
}

.icon{
    padding: 1em !important;
    background: -webkit-linear-gradient(60deg, #7e49b5 0%, #c7338d 100%) !important;
}

.down{
    padding: 1em;
}

@media (max-width: 780px) {
    .down{
        padding: 0em;
        padding-top: 1em;
        float: right;
    }
    .question{
        font-size: 0.5em;
    }
    .icon{
        padding-left: 0px !important;
        padding-right: 10px !important;
    }
    .container{
        width: 100%;
    }
}