<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{'new-message' | translate}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-12" class="center">
                                    <img src="{{image}}" />
                                    <p>{{otherName}}</p>
                                </div>
                            </div>
                            <textarea placeholder="{{'write_message' | translate}}" rows="5" cols="40" [ngStyle]="{'text-align': translate.currentLang == 'ar' ? 'right' : 'left'}" [(ngModel)]="message">
                            </textarea>
                            <div class="center">
                                <button class="btn-primary" (click)="send()">{{'send' | translate}}</button>
                            </div>                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>