<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let slide of data">
    <div class="picsum-img-wrapper carousel-indicators--round">
      <div class="innerSlider">
      <img [src]="slide.image" alt="Random slide">
      <p>{{slide.name}}</p>
      <span>{{slide.title}}</span>
    </div>
    </div>
    <div class="carousel-caption">
      <p>{{slide.body}}</p>
    </div>
    
  </ng-template>
</ngb-carousel>

<hr>